* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    text-align: center;
    margin-bottom: 60px;
}

h1{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.title{
    color: #e53170;
    font-size: 40px;
    padding: 40px 0;
}

.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    display: flex;
    width: 370px;
    height: 100px;
    background-color: black;
    margin-bottom: 30px;
    border-radius: 50px;
}

.card:hover{
    cursor: pointer;
}

.image{
    width: 25%;
    max-width: 100%;
    transition: all 1s;
    overflow: hidden;
}

.image:hover{
    transform: scale(1.1,1.1);
}

.info{
    padding: 10px 15px;
    color:wheat;
}

h3{
    font-weight: lighter;
    font-size: 16px;
}

.mail{
    text-decoration: underline;
    color: #29a1f2;
}